html,
body {
  height: 100%;
  width: 100%;
  background-color: #effeff;
}
#navigation {
  background-color: #000000;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 0px 20px 9px #87a5d1;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: black;
  color: white;
  border: 1px solid blue;
  border-radius: 8px;
}
.topBtn {
  background-color: white;
  border-color: white;
  color: #293241;
}
label{
  margin-bottom: 8px;
}
/* 293241 dark
  3d5a80 blue
  98c1d9 light
*/
/* .editDelete {
  float: right;
  margin: 3px;
  padding: 3px 10px;
}
#png {
  margin-right: 10px;
}
#form1 {
  border-radius: 10px;
  background-color: #3d5a80;
  box-shadow: 4px 4px 9px #293241;
  margin: 20px 193px;
}
#table {
  border-radius: 10px;
  background-color: #d2eaf7;
}
#submitBtn {
  width: 140px;
  background-color: #293241;
  border-color: #293241;
  color: white;
}

#categoryBtn {
  background-color: #293241;
  width: auto;
  border-radius: 7px;
  border: none;
  color: white;
}
#category {
  width: 300px;
}
.input-group-text {
  background-color: #293241;
  color: white;
  border: none;
}
.trStyle {
  background-color: transparent;
}
#categoryBtn:hover,
#submitBtn:hover,
.editDelete:hover {
  background-color: #ffffff;
  color: #293241;
  border-color: #293241;
}
.topBtn:hover {
  background-color: #3d5a80;
  color: white;
  border-color: #3d5a80;
}
.editDelete {
  background-color: #293241;
  border: none;
}

#tableHead {
  background-color: #3d5a80;
  color: white;
}
.page-link {
  background-color: #3d5a80;
  color: white;
}
.page-link:hover {
  background-color: #d2eaf7;
  color: #233b64;
} */
/* .list-group-item {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
} */
